.degree-card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-family: "Open Sans";
  font-size: 23px;
  margin-left: 10px;
}

.card-subtitle {
  font-family: "Open Sans";
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.body-header {
  max-width: inherit;
  display: flex;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
}

.body-header-title {
  align-items: flex-start;
  width: 80%;
}

.body-header-duration {
  width: 20%;
}
.duration {
  font-family: "Open Sans";
  font-size: 16px;
  padding-right: 10px;
  float: right;
}

.body-content {
  max-width: inherit;
  border-radius: 0px 0px 7px 7px;
  padding: 5px;
  display: flex;
  flex-direction: column; /* Stack the list and button vertically */
  justify-content: space-between; /* Space between the list and the button */
  align-items: flex-start; /* Align items to the left */
  position: relative;
}

.content-list {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans";
}

@media (max-width: 768px) {
  .degree-card {
    flex-direction: column;
  }

  .body-header {
    flex-direction: column;
  }

  .body-header-title {
    width: 100%;
  }

  .body-header-duration {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .duration {
    padding: 0px;
    margin: 0px;
    float: left;
  }

  .card-title {
    font-size: 20px;
  }

  .card-subtitle {
    font-size: 16px;
  }
}

.degree-card-img {
  width: 220px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  margin-right: 50px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.degree-card-body {
  border-radius: 7px;
  width: 1300px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.degree-card-body:hover {
  box-shadow: 0 5px 15px var(--accent-color);
}

.visit-button {
  position: absolute;
  bottom: 10px; /* Position the button 10px above the bottom edge */
  right: 10px; /* Position the button 10px from the right edge */
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}

.body-content-list {
  display: flex;
  flex-direction: column; /* Stack the text vertically */
  gap: 10px; /* Add spacing between <p> elements */
  width: 100%;
}