.papers-main {
  width: 100%;
}

.basic-papers {
  margin-left: 5%;
  margin-right: 5%;
}

.papers-heading-div {
  display: flex;
}

.address-heading-div {
  display: flex;
  margin-top: 80px;
}

.papers-heading-div > * {
  flex: 1;
}

.address-heading-div > * {
  flex: 1;
}

.papers-heading-img-div {
  margin-left: 13%;
  margin-bottom: 8%;
  margin-top: 4%;
}

.profile-pic {
  box-shadow: 0 5px 15px #353535;
  border-radius: 4px;
}


.papers-heading-text-div {
  text-align: center;
}


.address-heading-text-div {
  text-align: center;
}

.papers-heading-img-div > * {
  max-width: 100%;
  height: auto;
}


.papers-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 1.1;
  text-align: center;
  margin-top: 60px;
}

.address-heading-text {
  font-size: 30px;
  font-family: "Open Sans";
  text-align: center;
  margin-bottom: 10px;
}

.papers-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Open Sans";
}


@media (max-width: 1380px) {
  .papers-heading-text {
    font-size: 50px;
    margin-top: 60px;
  }

  .blog-heading-text {
    font-size: 50px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .papers-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .blog-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .papers-heading-img-div {
    margin-left: auto;
    margin-right: auto;
  }

  .address-heading-text {
    font-size: 20px;
  }

  .blog-heading-div {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: 60px;
  }

  .blog-heading-text-div {
    margin-top: 40px;
  }

  .address-heading-text-div {
    margin-top: 40px;
  }

  .papers-heading-div {
    flex-direction: column;
  }

  .papers-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .blog-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}

